<div class="cta-background" style="background-image:url('{{section.image}}')">
  <div class="content" >
    <div class="cta-text">
      <h3 class="cta-headline">{{section.heading}}</h3>
      {{section.body | renderMarkdown | safe}}
    </div>
  </div>
</div>