<div class="content">
  <h3>
    {{section.heading}}
  </h3>
  <div class="row">
    {% for logo in section.logos %}
      <div class="col-3">
        <img src="{{logo.image}}" alt="{{logo.alt}}">
      </div>
    {% endfor %}
  </div>
</div>