@use '../variables' as v;

.about{
  padding: 5rem 0 4rem;
  .row {
    justify-content: center
  }
  .about-photo {
    border-radius: 100%;
    overflow:hidden;
    width: clamp(135px, 18vw, 265px);
    height: clamp(135px, 18vw, 265px);
  }
  
  h3.about-headline {
    font-size:2rem;
    line-height: 1.2;
    span{
      &.purple{
        @include v.text-underline( v.$purple);
      }
      &.green{
        @include v.text-underline(v.$green);
      }
      &.pink{
        @include v.text-underline(v.$pink);
      }
      &.yellow{
        @include v.text-underline(v.$yellow);
      }
      
    }
  }

}
@media screen and (min-width: 700px) and (max-width: 850px){
  .about{
    .row {
      justify-content: start
    }
    .col-7{
      width: percentage(8/12);
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 699px){
  .about{
    .col-3 {
      display: none;
    }
    .col-7{
      width: percentage(10/12);
    }
  }
}
@media screen and (max-width: 599px){
  .about{
    .col-3 {
      display: none;
    }
    .col-7{
      width: percentage(12/12);
    }
  }
}