<head>
  {% if page.url === "/"%}
    {% set pageTitle = [settings.title, " - ", settings.tagline] | join %}
  {% else %}
    {% set pageTitle = [title, " | ", settings.title, " - ", settings.tagline] | join %}
  {% endif %}
  {% metagen
    title = pageTitle ,
    desc = metaDescription or renderData.metaDescription or settings.description,
    url = settings.url,
    img = settings.socialImg,
    img_alt = settings.socialImgAlt,
    twitter_card_type = "summary_large_image",
    twitter_handle = settings.twitter,
    name = settings.author
  %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@400;500;600;900&display=swap" rel="stylesheet">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/styles.css" %} 
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
