{% if page.url == "/" %}
  {% set nav = navigation.homeNav %}
{% else %}
  {% set nav = navigation.mainNav %}
{% endif %}

<nav id="desktop-nav">
  <ul>
    {%- for entry in nav %}
      <li>
        <a href="{{ entry.url | url }}" {{ entry.url | currentPage(page.url) | safe }}>{{ entry.text }}</a>
      </li>
    {%- endfor %}
    <span class="target"></span>
  </ul>
</nav>

<nav id="mobile-nav">
  <button id="mobile-nav-toggle" class="menu-toggle" aria-controls="mobile-menu" aria-expanded="false">
    <div class="nav-bars">
      <div class="top-bar"></div>
      <div class="middle-bar"></div>
      <div class="bottom-bar"></div>
    </div>
    <div class="screen-reader-text">Navigation Menu</div>
  </button>
  <ul id="mobile-menu-ul">
    <li>
      <a href="../">Home</a>
    </li>
    {% set color = cycler( "pink", "green", "yellow") %}
    {%- for entry in nav %}
      <li>
        <a href="{{ entry.url | url }}" class="{% if entry.url == page.url %} current-page {% endif %} {{ color.next() }}"> {{ entry.text }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>