<section class="row">
	{% set color = cycler("purple", "pink", "green", "yellow") %}
	{% for post in postslist %}
		
		<article class="col-4" {% if post.url == url %} data-current="current item"{% endif %}>
			<a href="{{ post.url | url }}" class="{{ color.next() }}">
				{% if post.data.mainImage.image %}
					<image class="post-image" src="{{post.data.mainImage.image}}" alt="{{post.data.mainImage.alt}}">
				{% endif %}
				<div class="post-content">
					<h3> 
						<span>
							{% if post.data.title %}
								{{ post.data.title }}
							{% endif %}
						</span>
					</h3>
					<p class="post-meta">
						{{ post.data.author }} | 
						<time datetime="{{ post.date | machineDate }}">
							{{ post.date | readableDate }}
						</time>
					</p>
					{% if post.data.summary %}
						<p>
							{{ post.data.summary }}
						</p>
					{% endif %}
				</div>
			</a>
		</article>
		
	{% endfor %}
</section>
