$dark-purple: #4e51a7;
$purple: #7376C6;
$pink: #C673A0;
$pink-hover: #c7659b;
$green: #73C699;
$yellow: #EDD377;
$light-grey: #E4E4E4;
$grey-text: #737373;

$font-serif: 'Cardo', serif;
$font-sans: 'Montserrat', sans-serif;

$content-max-width: 1400px;
$content-padding: 5vw;
$col-gap: 2%;

$border-radius: 6px;

$box-shadow: 2px 3px 16px #00000030; 
$box-shadow-hover: 2px 3px 16px #00000060;